@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --Green500: hsl(158, 36%, 37%);
  --Green700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--Grey);
  background-color: var(--Cream);
  font-size: 14px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', serif;
  color: var(--Black);
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 350px;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
}

.content-section {
  padding: 30px;
}

.content-section h3 {
  color: var(--Grey);
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.content-section h1 {
  font-size: 28px;
  margin: 10px 0;
}

.content-section p {
  font-weight: 400;
}

.price-section {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.current-price {
  font-size: 24px;
  font-weight: bold;
  color: var(--Green500);
  font-family: 'Fraunces', serif;
  margin-right: 15px;
}

.original-price {
  text-decoration: line-through;
  color: var(--Grey);
}

.add-to-cart-btn {
  background-color: var(--Green500);
  color: var(--White);
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: var(--Green700);
}

.add-to-cart-btn img {
  margin-right: 10px;
  vertical-align: middle;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  color: var(--Grey);
}

@media (min-width: 600px) {
  .card {
    width: 600px;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .image-section img {
    height: 100%;
    object-fit: cover;
    content: url('../images/image-product-desktop.jpg');
  }

  .image-section,
  .content-section {
    width: 50%;
  }

  .content-section {
    padding: 40px;
  }

  .content-section h3 {
    font-size: 14px;
    letter-spacing: 5px;
  }

  .content-section h1 {
    font-size: 32px;
    margin: 20px 0;
  }

  .current-price {
    font-size: 28px;
  }

  .attribution {
    font-size: 12px;
  }

  .attribution a:hover {
    text-decoration: underline;
  }
}
